<?xml version="1.0" ?>
<virtualModel version="13.0.2.815">
	<resolutions>
		<ignore date="2020-07-07T17:10:13.394Z" description="Given by base classes">
			<type class="com.hello2morrow.sonargraph.core.model.element.CoreIssueId" name="ComponentCycleGroup"></type>
			<elementPattern type="FullyQualifiedName">Files:BaseDirectory:SystemDirectory:Analyzers:ComponentCyclesModule:Result:0accb43a05fa213884564880bdca68bc|b0a1ba065a07c29d5999cf33b8b8b83b</elementPattern>
			<matching info="Java Module 'sonargraph-integration' contains 2 cyclic components">
				<elementPattern type="FullyQualifiedName">Workspace:sonargraph-integration:./src/main/java:com:hello2morrow:sonargraph:integration:jenkins:tool:SonargraphBuild.java</elementPattern>
				<elementPattern type="FullyQualifiedName">Workspace:sonargraph-integration:./src/main/java:com:hello2morrow:sonargraph:integration:jenkins:tool:SonargraphBuildInstaller.java</elementPattern>
			</matching>
		</ignore>
	</resolutions>
</virtualModel>