<?xml version="1.0" ?>
<virtualModel version="10.2.1.626">
	<resolutions>
		<ignore date="2020-07-07T17:10:13.394Z" description="Given by base classes">
			<type class="com.hello2morrow.sonargraph.core.model.element.CoreIssueId" name="ComponentCycleGroup"></type>
			<elementPattern type="FullyQualifiedName">Files:BaseDirectory:SystemDirectory:Analyzers:ComponentCyclesModule:Result:0accb43a05fa213884564880bdca68bc|b0a1ba065a07c29d5999cf33b8b8b83b</elementPattern>
			<matching info="Java Module 'sonargraph-integration' contains 2 cyclic components">
				<elementPattern type="FullyQualifiedName">Workspace:sonargraph-integration:./src/main/java:com:hello2morrow:sonargraph:integration:jenkins:tool:SonargraphBuild.java</elementPattern>
				<elementPattern type="FullyQualifiedName">Workspace:sonargraph-integration:./src/main/java:com:hello2morrow:sonargraph:integration:jenkins:tool:SonargraphBuildInstaller.java</elementPattern>
			</matching>
		</ignore>
		<move targetRootDirectory="Workspace:sonargraph-integration:./src/main/java" moveToParentName="com.hello2morrow.sonargraph.integration.jenkins.controller" language="Java" elementType="Component" assignedTo="" priority="Medium" date="2020-07-07T17:13:58.744Z" description="">
			<type class="com.hello2morrow.sonargraph.core.model.element.CoreIssueId" name="MoveRefactoring" descriptor="10d58b26d90ba3874aaf25c26fa72fdc"></type>
			<elementPattern type="FullyQualifiedName">Workspace:sonargraph-integration:./src/main/java:com:hello2morrow:sonargraph:integration:jenkins:foundation:LatestFolder.java</elementPattern>
		</move>
		<move targetRootDirectory="Workspace:sonargraph-integration:./src/main/java" moveToParentName="com.hello2morrow.sonargraph.integration.jenkins.model" language="Java" elementType="Component" assignedTo="" priority="Medium" date="2020-07-07T17:21:57.308Z" description="">
			<type class="com.hello2morrow.sonargraph.core.model.element.CoreIssueId" name="MoveRefactoring" descriptor="ecd8ba4a81e28c6bbb492120e0073f9e"></type>
			<elementPattern type="FullyQualifiedName">Workspace:sonargraph-integration:./src/main/java:com:hello2morrow:sonargraph:integration:jenkins:persistence:MetricId.java</elementPattern>
		</move>
		<move targetRootDirectory="Workspace:sonargraph-integration:./src/main/java" moveToParentName="com.hello2morrow.sonargraph.integration.jenkins.model" language="Java" elementType="Component" assignedTo="" priority="Medium" date="2020-07-07T17:22:50.054Z" description="">
			<type class="com.hello2morrow.sonargraph.core.model.element.CoreIssueId" name="MoveRefactoring" descriptor="ff39bdfc9d8a7b86e4c5ab0cc6f8da23"></type>
			<elementPattern type="FullyQualifiedName">Workspace:sonargraph-integration:./src/main/java:com:hello2morrow:sonargraph:integration:jenkins:persistence:MetricIds.java</elementPattern>
		</move>
	</resolutions>
</virtualModel>